@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@100;400&family=Poppins:wght@100;200&family=Roboto&family=Smooch+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #171717;
}

header {
  display: grid;
  width: 100%;
  font-family: "Smooch Sans", sans-serif;
}


.anime-img {
  width: 40%;
  height: auto;
  position: relative;
  top: 20px;
  left: 50px;
  border: #ffff00 solid 20px;
}

.say-hi{
  font-size: 40px;
  font-weight: 500;
  position: relative;
  top: 20px;
  left: 20px;

}

h2,
p {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: -400%;
  right: 3%;
  line-height: 1;
}

p {
  font-size: 25px;
}
h2 {
  font-size: 70px;
}

span {
  color: #fff;
}

.para1,
.para2,
.para3 {
  padding: 10px 10px 10px;
  font-size: 14px;
  font-family: Montserrat;
  display: flex;
  text-align: justify;
  background-color: #1d1d21;
  justify-content: center;
  align-items: center;
}

.para3 {
  color: yellow;
}

.box {
  width: 100%;
  height: -25px;
  margin-top: 25px;
  display: flex; 
  justify-content: center;
  align-items: center;

}

.color-box {
  position: relative;
  top: -250px;
  background: yellow;
  left: 680px;
  height: 200%;
  width: 1%;
  transform: translateX(150px);
}
